@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-black font-sans;
  }
}

/* Custom Dot Pattern for Backgrounds */
.bg-dots {
  background-image: radial-gradient(#000000 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #e5e5e5;
}